*{ margin: 0px;}

body{
    background-color: #eee;
}


/* Formas de pago */

.formasDePago{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 90px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 40px 0 40px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid rgb(236, 236, 236);
}

.svg{
    position: relative;
    left: -25px;
}

.opcionesDePago{
    position: relative;
    left: -60px;
}

.opcionesDePago h2{
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 400;
    color: rgba(44, 44, 44, 0.836)
}

.opcionesDePago a{
    font-family: Proxima Nova;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
    color: rgb(106, 106, 250);
}

.borde{
    position: absolute;
    right: 26%;
    height: 90px;
    width: 2%;
    border-left: 1px solid #eee;
}
.svgMasMedios{left: 45px;}
.mediosDePago{left: 10px;}

/*  Textos de ofertas*/
.textoUltimasVisitas{
    display: flex;
    position: absolute;
    top: 26%;
    padding-left: 7%;
}

.textoUltimasVisitas h1{
    font-size: 27px;
    font-family: Proxima Nova;
    font-weight: 100;
    color: rgb(102, 102, 102);

}
.textoUltimasVisitas .verMas{
    font-family: Proxima Nova;
    font-weight: 200;
    font-size: 17px;
    text-decoration: none;
    color: rgb(106, 106, 250);
    margin: 9px 20px 0 20px;
    /* transition: .1s; */
}
.textoUltimasVisitas .verMas:hover{
    color: rgb(146, 0, 190);
}


/* Tarjetas de oferta */
#tarjetasDeVisitas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
}

.imagenTarjeta img{
    max-width: 220px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #eee;
}

/* Espacio entre las tarjetas */
.tarjetaDos{ padding: 0 9px 0 9px;}

.tarjeta{
    transition: .1s;
    cursor: pointer;
    overflow: hidden;
}

.tarjeta:hover{box-shadow: 1px 0px 7px #a7a7a7;}

.informacionTarjeta{
    max-width: 250px;
    height: 80px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -5px;
    overflow: hidden;
    transition: .1s;
    cursor: pointer;
}

.informacionTarjeta:hover{
    height: 100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.informacionTarjeta h1{
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-family: Proxima Nova;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 25px 35px 0 20px;
}

.informacionTarjeta p {
    width: 200px;
    position: absolute;
    top: 230px;
    display: flex;
    align-items: flex-end;
    height: 300px;
    opacity: 0;
    cursor: pointer;
}
.informacionTarjeta p:hover{opacity: 1;}

.informacionTarjeta .texto {
    color: rgb(155, 155, 155);
    font-size: 14px;
    font-family: Proxima Nova;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px 0 10px 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
}

footer h2{
    color: rgb(104, 104, 104);
    font-size: 15px;
    font-family: Sarabun;
    font-weight: 400;
}

footer h2 a{
    text-decoration: none;
    color: #000;
}